* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, minmax(0, auto));
}

.coupon {
    grid-row: 1/2;
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 5px;
}

.coupon select {
    border: none;
    width: 80px;
    background-color: transparent;
}



.coupon #offSeason {
    grid-column: 1/5;
}

.coupon #lang {
    grid-column: 11/12;
}

.coupon #curr {
    grid-column: 12/13;
}

nav#headNav {
    grid-row: 2/3;
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10px;
}

nav#headNav .search {
    grid-column: 1/5;
    position: relative;
}

nav#headNav .search input[type='text'] {
    border: none;
    width: 60%;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.692);
    background-color: transparent;
    color: white;
}

nav#headNav .search i {
    position: absolute;
    top: 5px;
    left: 180px;
    cursor: pointer;
}

nav#headNav .logo {
    grid-column: 6/8;
    text-align: center;
}

nav#headNav .logo h2 {
    margin: 10px;
    letter-spacing: -1px;

}

nav#headNav .cart {
    grid-column: 12/13;
}

nav#headNav .cart {
    padding: 0;
    margin: 0;
    display: flex;
}

nav#headNav .cart li {
    list-style-type: none;
    margin-right: 15px;
    cursor: pointer;
}

nav#sectionNav {
    grid-row: 3/4;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

nav#sectionNav ul {
    grid-column: 5/10;
    text-align: center;
    display: flex;
    margin: 0;
    padding: 5px;
    font-weight: bold;
}

nav#sectionNav li {
    list-style-type: none;
    margin-left: 20px;
}

nav#sectionNav li a {
    color: black;
    text-decoration: none;
}

.active {
    color: rgb(233, 10, 10);
}

.currentPage {
    grid-row: 4/5;
    grid-column: 1/13;
    background-color: rgba(224, 228, 220, 0.61);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.currentPage #shop {
    display: flex;
    grid-column: 2/5;
    margin: 0;
    padding: 5px;
}

.currentPage #shop li {
    list-style-type: none;
}

.currentPage li:nth-of-type(2) {
    margin: auto 10px;
}

.sortLayout {
    grid-row: 5/6;
    grid-column: 1/10;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 15px;
}

.sortLayout #display {
    grid-column: 2/5;
    margin-left: 27px;
}

.sortLayout #display ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.sortLayout #display li {
    list-style-type: none;
    margin-right: 10px;
    cursor: pointer;
}

.sortLayout #filter {
    grid-column: 6/9;
}

.sortLayout #filter b {
    font-weight: normal;
    margin-right: 10px;
}

.sortLayout #filter select {
    border: none;
    width: 60%;
    padding: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}

.sortLayout #result {
    grid-column: 10/13;
}

.sortLayout #result p {
    margin: 0;
}

/* main section houses most of the code.
but i was able to seperate concerns,
and subsequent codes after just needs to be copied and pasted via html,
then updated with their grid on css */

main {
    grid-row: 6/7;
    grid-column: 2/10;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(0, auto));
    grid-gap: 1%;
}

main #salesGrid {
    grid-column: 1/13;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, minmax(0, auto));
    grid-gap: 1%;
}

main #salesGrid section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, minmax(0, auto));
    overflow: hidden;
    position: relative;
    background-color: rgb(255, 255, 255);
}

main #salesGrid section .image {
    width: 200px;
    height: 200px;
    grid-row: 1/2;
    grid-column: 1/13;
    background-color: rgba(224, 228, 220, 0.61);
    margin: 10px auto;
    padding: 10px;
    overflow: hidden;
}

main #salesGrid section img {
    width: 100%;
    padding: 1%;
}

main #salesGrid .more_info {
    padding: 10px;
    grid-row: 2/3;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, minmax(0, auto));
}

main .more_info small {
    grid-row: 2/3;
    grid-column: 1/7;
}

main .more_info .stars {
    grid-row: 4/5;
    grid-column: 1/13;
}

main .more_info .stars i {
    color: #cca711;
}

main .more_info p {
    grid-row: 3/4;
    grid-column: 1/10;
    margin: 5px;
    margin-left: 0;
}

main .more_info h3 {
    grid-row: 5/6;
    grid-column: 1/5;
    margin: 5px;
    margin-left: 0;
}

main .more_info button {
    grid-row: 5/6;
    padding: 5px;
    grid-column: 7/13;
    background-color: transparent;
    border: none;
    color: transparent;
    transition: all 0.5s;
    margin-bottom: 10px;
}

main .more_info button:hover {
    border-bottom: 1px solid red;
    color: black;
}

main #first {
    grid-column: 1/4;
    grid-row: 1/2;
}

main #second {
    grid-column: 4/7;
    grid-row: 1/2;
}

main #third {
    grid-column: 7/10;
    grid-row: 1/2;
}

main #fourth {
    grid-column: 10/13;
    grid-row: 1/2;
}

main #fifth {
    grid-column: 1/4;
    grid-row: 2/3;
}

main #sixth {
    grid-column: 4/7;
    grid-row: 2/3;
}

main #seventh {
    grid-column: 7/10;
    grid-row: 2/3;
}

main #eight {
    grid-column: 10/13;
    grid-row: 2/3;
}

main #nine {
    grid-column: 1/4;
    grid-row: 3/4;
}


main #ten {
    grid-column: 7/10;
    grid-row: 3/4;
}

main #eleven {
    grid-column: 10/13;
    grid-row: 3/4;
}

main #twelve {
    grid-column: 4/7;
    grid-row: 3/4;
}

main #thirteen {
    grid-column: 1/4;
    grid-row: 4/5;
}

main #fourteen {
    grid-column: 4/7;
    grid-row: 4/5;
}

main #fifteen {
    grid-column: 7/10;
    grid-row: 4/5;
}

main #sixteen {
    grid-column: 10/13;
    grid-row: 4/5;
}

main #nextPage {
    grid-row: 2/3;
    grid-column: 1/13;
}

main #nextPage button {
    border-radius: 50%;
    border: none;
    padding: 5px 10px;
}

main #nextPage span {
    background-color: rgba(224, 228, 220, 0.5);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 100%;
}

main #nextPage .activeNext {
    background-color: rgb(177, 8, 8);
    color: white;
}

main #nextPage a {
    text-decoration: none;
    color: black;
}

main #nextPage a.activeNext {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

aside {
    grid-row: 5/7;
    grid-column: 10/13;
}

#categories {
    margin: 15px;
    background-color: rgba(224, 228, 220, 0.418);
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(58, 57, 57, 0.226);
}

#categories .text {
    font-weight: bold;
    grid-row: 1/2;
}

#categories .text p {
    font-weight: bold;
}

#categories ul {
    padding: 0;
    margin: 0;
    grid-row: 2/3;
}

#categories li {
    margin-top: 15px;
    padding: 3px;
    list-style-type: none;
    border-bottom: 1px solid rgba(58, 57, 57, 0.226);
    transition: all 0.2s;
}

#categories li:hover {
    position: relative;
    top: -5px;
    font-weight: bold;
    color: red;
}

#priceFilter {
    grid-row: 2/3;
    margin: 15px;
    background-color: rgba(224, 228, 220, 0.418);
    padding: 5px;
    border: 1px solid rgba(58, 57, 57, 0.226);
}

#priceFilter h4,
#priceFilter p {
    margin: 10px;
}

#priceFilter input {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: red;
}

#priceFilter button {
    padding: 5px 15px;
    margin-top: 10px;
}

#topRated {
    grid-row: 3/4;
    margin: 15px;
    background-color: rgba(224, 228, 220, 0.418);
    padding: 5px;
    border: 1px solid rgba(58, 57, 57, 0.226);
    height: 400px;
}

#topRated h4 {
    margin: 10px;
}

footer {
    grid-row: 7/8;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(0, auto));
    background-color: black;
    color: #fff;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}

footer #address {
    grid-row: 1/2;
    grid-column: 2/6;
}

footer #address h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer #about {
    grid-row: 1/2;
    grid-column: 6/8;
}

footer #follow {
    grid-row: 1/2;
    grid-column: 8/10;
}

footer #more {
    grid-row: 1/2;
    grid-column: 10/13;
    position: relative;
}

footer #more input {
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    color: white;
    opacity: 0.5;
    border: none;
    width: 80%;
    background-color: rgba(27, 26, 26, 0.822);
}

footer #more button {
    padding: 5px;
    border: none;
    position: absolute;
    right: 75px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
}

footer #more ul {
    padding: 0;
    margin: 0;
    display: flex;
}

footer #more li {
    list-style-type: none;
    margin-left: 15px;
}

footer #arrowup {
    grid-row: 1/2;
    grid-column: 12/13;
    margin-top: 20px;
}

footer #arrowup a {
    color: white;
}

footer #base {
    grid-row: 2/3;
    grid-column: 2/12;
    border-top: 1px solid #a7a7a79f;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 5px;
}


footer #base p {
    grid-column: 1/10;
    padding: 0;
    margin: 0;
}

footer #base #arrowup {
    grid-column: 13;
    padding: 0;
    margin: 0;
}

footer #base #arrowup a {
    border-radius: 50%;
    padding: 5px 10px;
    background-color: rgba(224, 228, 220, 0.5);
}

/* contact Page CSS */
#footerNav {
    grid-row: 6/7;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(0, auto));
    background-color: black;
    color: #fff;
}

#footerNav ul {
    margin: 0;
    padding: 0;
}

#footerNav li {
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}

#footerNav #address {
    grid-row: 1/2;
    grid-column: 2/6;
}

#footerNav #address h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#footerNav #about {
    grid-row: 1/2;
    grid-column: 6/8;
}

#footerNav #follow {
    grid-row: 1/2;
    grid-column: 8/10;
}

#footerNav #more {
    grid-row: 1/2;
    grid-column: 10/13;
    position: relative;
}

#footerNav #more input {
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    color: white;
    opacity: 0.5;
    border: none;
    width: 80%;
    background-color: rgba(27, 26, 26, 0.822);
}

#footerNav #more button {
    padding: 5px;
    border: none;
    position: absolute;
    right: 75px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
}

#footerNav #more ul {
    padding: 0;
    margin: 0;
    display: flex;
}

#footerNav #more li {
    list-style-type: none;
    margin-left: 15px;
}

#footerNav #arrowup {
    grid-row: 1/2;
    grid-column: 12/13;
    margin-top: 20px;
}

#footerNav #arrowup a {
    color: white;
}

#footerNav #base {
    grid-row: 2/3;
    grid-column: 2/12;
    border-top: 1px solid #a7a7a79f;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 5px;
}


#footerNav #base p {
    grid-column: 1/10;
    padding: 0;
    margin: 0;
}

#footerNav #base #arrowup {
    grid-column: 13;
    padding: 0;
    margin: 0;
}

#footerNav #base #arrowup a {
    border-radius: 50%;
    padding: 5px 10px;
    background-color: rgba(224, 228, 220, 0.5);
}



#container {
    width: 100%;
    height: 450px;
    grid-row: 5/6;
    grid-column: 1/13;
}

#contact {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1/13;
    grid-row: 4/5;

}

#contact #left {
    grid-column: 3/7;
    margin-top: 70px;
}

#contact #left h3 {
    font-weight: 500;
}

#contact #left ul {
    padding: 0;
    margin: 0;
}

#contact #left li {
    list-style-type: none;
    margin-top: 15px;
}

#contact #right {
    grid-column: 8/11;
    box-shadow: 5px 5px 5px rgba(12, 12, 12, 0.644);
    padding: 30px;
    border-radius: 3px;
}

#contact #right input#Fname {
    width: 46%;
    padding: 10px;
}

#contact #right input#Lname {
    width: 50%;
    margin-left: 2%;
    padding: 10px;
}

#contact #right input#mail {
    width: 100%;
    padding: 10px;
    margin: 15px auto;
}

#contact #right button {
    width: 100%;
    border: none;
    padding: 10px 35px;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
    margin: 15px auto;
    font-weight: 500;
    font-weight: bold;
}

/* Responsive breakPoint */
@media screen and (max-width:1200px) {
    .coupon #offSeason {
        grid-column: 1/8;
    }

    nav#sectionNav ul {
        grid-column: 4/11;
    }

    nav#sectionNav li {
        margin-left: 20px;
    }
}

@media screen and (max-width:1100px) {

    .sortLayout #filter {
        grid-column: 5/9;
    }


    .sortLayout #result {
        grid-column: 9/13;
    }

    main #first {
        grid-column: 1/5;
        grid-row: 1/2;
    }

    main #second {
        grid-column: 5/9;
        grid-row: 1/2;
    }

    main #third {
        grid-column: 9/13;
        grid-row: 1/2;
    }

    main section#fourth {
        grid-column: 10/13;
        grid-row: 1/2;
        display: none;
    }

    main #fifth {
        grid-column: 5/9;
        grid-row: 2/3;
    }

    main #sixth {

        grid-column: 1/5;
        grid-row: 2/3;
    }

    main #seventh {
        grid-column: 9/13;
        grid-row: 2/3;
    }

    main section#eight {
        display: none;
        grid-column: 10/13;
        grid-row: 2/3;
    }

    main #nine {
        grid-column: 5/9;
        grid-row: 3/4;
    }


    main #ten {
        grid-column: 9/13;
        grid-row: 3/4;
    }

    main #eleven {
        grid-column: 1/5;
        grid-row: 3/4;
    }

    main section#twelve {

        grid-column: 10/13;
        grid-row: 3/4;
        display: none;
    }
}

@media screen and (max-width:930px) {

    main #thirteen {
        grid-column: 1/5;
        grid-row: 4/5;
    }

    main section#fourteen {
        grid-column: 4/7;
        grid-row: 4/5;
        display: none;
    }

    main #fifteen {
        grid-column: 9/13;
        grid-row: 4/5;
    }

    main #sixteen {
        grid-column: 5/9;
        grid-row: 4/5;
    }

    footer {
        padding: 30px;
    }

    footer #address {
        grid-column: 1/5;
    }

    footer #about {
        grid-column: 5/7;
    }

    footer #follow {
        grid-column: 7/9;
    }

    footer #more {
        grid-column: 9/13;
    }

    footer #more button {
        right: 60px;
    }

    footer #address li:nth-child(1) {
        display: none;
    }

}

@media screen and (max-width:870px) {

    nav#sectionNav li {
        margin-left: 10px;
    }

    main #salesGrid section .image {
        background-color: transparent;
    }

    main #first {
        grid-column: 1/7;
        grid-row: 1/2;
    }

    main section#second {
        grid-column: 5/9;
        grid-row: 1/2;
        display: none;
    }

    main #third {
        grid-column: 7/13;
        grid-row: 1/2;
    }
}

@media screen and (max-width:810px) {
    .coupon #offSeason {
        grid-column: 1/10;
    }

    nav#sectionNav li {
        margin-left: 20px;
    }

    nav#sectionNav ul {
        grid-column: 3/13;
    }

    nav#headNav .search i {
        left: 90px;
    }

    .sortLayout #display {
        display: none;
    }

    .sortLayout #filter {
        grid-column: 2/7;
    }

    .sortLayout #result {
        grid-column: 8/13;
    }

    main section#fifth {
        grid-column: 5/9;
        grid-row: 2/3;
        display: none;
    }

    main #sixth {
        grid-column: 1/7;
        grid-row: 2/3;
    }

    main #seventh {
        grid-column: 7/13;
        grid-row: 2/3;
    }

    main section#eight {
        display: none;
        grid-column: 10/13;
        grid-row: 2/3;
    }

    main section#nine {
        grid-column: 5/9;
        grid-row: 3/4;
        display: none;
    }


    main #ten {
        grid-column: 7/13;
        grid-row: 3/4;
    }

    main #eleven {
        grid-column: 1/7;
        grid-row: 3/4;
    }

    main section#twelve {

        grid-column: 10/13;
        grid-row: 3/4;
        display: none;
    }

    footer #address {
        grid-row: 1/2;
        grid-column: 1/7;
    }

    footer #more {
        grid-row: 1/2;
        grid-column: 7/13;
    }

    footer #follow {
        grid-column: 1/7;
        grid-row: 2/3;
    }

    footer #about {
        grid-column: 7/13;
        grid-row: 2/3;
    }

    footer #base {
        grid-row: 3/4;
    }

    footer #more button {
        right: 80px;
    }

    #categories {
        margin: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    main #salesGrid .more_info {
        margin-top: 10px;
    }
}

@media screen and (max-width:680px) {
    .sortLayout #filter {
        grid-column: 1/6;
    }

    .sortLayout #result {
        grid-column: 7/13;
    }

    #categories,
    #priceFilter,
    #topRated {
        margin: 5px;
    }

    .coupon #offSeason {
        grid-column: 1/11;
    }

    main #thirteen {
        grid-column: 1/7;
        grid-row: 4/5;
    }

    main #sixteen {
        grid-column: 7/13;
        grid-row: 4/5;
    }

    main section#fifteen {
        grid-column: 9/13;
        grid-row: 4/5;
        display: none;
    }

    nav#headNav .search i {
        left: 70px;
    }
}